
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.photo img {
    width: 390px;
    height: 300px;
}

.photo {
    padding: 10px;
    box-shadow: 3px 3px 3px 3px lightgray;
    border: 1px solid lightgray;
}

.container {
    display: flex;
}